.timer {
    font-size: 0.75rem;
    color: #333;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
    animation: fadeIn 0.2s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-0.3125rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}